html {
    font-family:cursive;
    color: whitesmoke;
}

form {
    width: 500px;
    margin: 0 auto;
}

div {
    margin-bottom: 50px;
}

fieldset {
    background: rgb(14, 80, 110);
    border: 5px solid rgb(1, 1, 2);
}
legend {
    padding: 10px;
    background: rgb(21, 131, 131);
    color: cyan;
    font-size: 25px;
}
.personal-information,
.radio-buttons-selection,
.checkbox-selection {
    font-size: 20px;
    list-style-type: none;
}